.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tiptap {
  min-height: 75vh;
  width: 70vw;
  padding: 20px 20px 20px 30px;
  @apply drop-shadow border bg-background  shadow-lg border-slate-400;
}

.tiptap > * {
  margin: 2px;
}

.tiptap::-webkit-scrollbar {
  display: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
