#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tiptap {
  height: 70vh;
  width: 80%;
  padding: 20px 20px 20px 50px;
  margin: 20px 50px 20px;
  @apply drop-shadow border bg-background  shadow-lg border-slate-400 
}

.tiptap::-webkit-scrollbar {
  display: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
